<label for="lastName">
	<f:translate key="tx_wxlottery_domain_model_checkout.last_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="firstName">
	<f:translate key="tx_wxlottery_domain_model_checkout.first_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="gender">
	<f:translate key="tx_wxlottery_domain_model_checkout.gender" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="gender" /><br />
<label for="country">
	<f:translate key="tx_wxlottery_domain_model_checkout.country" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="country" /><br />
<label for="zip">
	<f:translate key="tx_wxlottery_domain_model_checkout.zip" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="city">
	<f:translate key="tx_wxlottery_domain_model_checkout.city" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="city" /><br />
<label for="address">
	<f:translate key="tx_wxlottery_domain_model_checkout.address" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="address" /><br />
<label for="email">
	<f:translate key="tx_wxlottery_domain_model_checkout.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="email" /><br />
<label for="sessionId">
	<f:translate key="tx_wxlottery_domain_model_checkout.session_id" />
</label><br />
	<f:form.textfield property="sessionId" /><br />
<label for="dGender">
	<f:translate key="tx_wxlottery_domain_model_checkout.d_gender" />
</label><br />
	<f:form.textfield property="dGender" /><br />
<label for="dFirstName">
	<f:translate key="tx_wxlottery_domain_model_checkout.d_first_name" />
</label><br />
	<f:form.textfield property="dFirstName" /><br />
<label for="dLastName">
	<f:translate key="tx_wxlottery_domain_model_checkout.d_last_name" />
</label><br />
	<f:form.textfield property="dLastName" /><br />
<label for="dCountry">
	<f:translate key="tx_wxlottery_domain_model_checkout.d_country" />
</label><br />
	<f:form.textfield property="dCountry" /><br />
<label for="dZip">
	<f:translate key="tx_wxlottery_domain_model_checkout.d_zip" />
</label><br />
	<f:form.textfield property="dZip" /><br />
<label for="dCity">
	<f:translate key="tx_wxlottery_domain_model_checkout.d_city" />
</label><br />
	<f:form.textfield property="dCity" /><br />
<label for="dAddress">
	<f:translate key="tx_wxlottery_domain_model_checkout.d_address" />
</label><br />
	<f:form.textfield property="dAddress" /><br />
<label for="dEmail">
	<f:translate key="tx_wxlottery_domain_model_checkout.d_email" />
</label><br />
	<f:form.textfield property="dEmail" /><br />
<label for="finishedStep">
	<f:translate key="tx_wxlottery_domain_model_checkout.finished_step" />
</label><br />
	<f:form.textfield property="finishedStep" /><br />
<label for="delivery">
	<f:translate key="tx_wxlottery_domain_model_checkout.delivery" />
</label><br />
	<f:form.textfield property="delivery" /><br />
<label for="payment">
	<f:translate key="tx_wxlottery_domain_model_checkout.payment" />
</label><br />
	<f:form.textfield property="payment" /><br />
<label for="debitBankName">
	<f:translate key="tx_wxlottery_domain_model_checkout.debit_bank_name" />
</label><br />
	<f:form.textfield property="debitBankName" /><br />
<label for="debitSortCode">
	<f:translate key="tx_wxlottery_domain_model_checkout.debit_sort_code" />
</label><br />
	<f:form.textfield property="debitSortCode" /><br />
<label for="debitAccountNr">
	<f:translate key="tx_wxlottery_domain_model_checkout.debit_account_nr" />
</label><br />
	<f:form.textfield property="debitAccountNr" /><br />
<label for="debigAccountHolder">
	<f:translate key="tx_wxlottery_domain_model_checkout.debig_account_holder" />
</label><br />
	<f:form.textfield property="debigAccountHolder" /><br />
<label for="ccHolderName">
	<f:translate key="tx_wxlottery_domain_model_checkout.cc_holder_name" />
</label><br />
	<f:form.textfield property="ccHolderName" /><br />
<label for="ccType">
	<f:translate key="tx_wxlottery_domain_model_checkout.cc_type" />
</label><br />
	<f:form.textfield property="ccType" /><br />
<label for="ccAccountNr">
	<f:translate key="tx_wxlottery_domain_model_checkout.cc_account_nr" />
</label><br />
	<f:form.textfield property="ccAccountNr" /><br />
<label for="ccExpireMonth">
	<f:translate key="tx_wxlottery_domain_model_checkout.cc_expire_month" />
</label><br />
	<f:form.textfield property="ccExpireMonth" /><br />
<label for="ccExpireYear">
	<f:translate key="tx_wxlottery_domain_model_checkout.cc_expire_year" />
</label><br />
	<f:form.textfield property="ccExpireYear" /><br />
<label for="ccVerificationNr">
	<f:translate key="tx_wxlottery_domain_model_checkout.cc_verification_nr" />
</label><br />
	<f:form.textfield property="ccVerificationNr" /><br />