<div class="overview_options">
	<div class="item">
		<f:form.checkbox name="limit" value="1" id="limit" />&nbsp;<span><f:translate key="LLL:fileadmin/klassenlos.at/language/locallang.xml:checkout.overview_option1" /></span>
	</div>
	<div class="item last">
		<f:form.checkbox name="conditions" value="2" id="conditions" />&nbsp;
		<span>
			<f:translate key="LLL:fileadmin/klassenlos.at/language/locallang.xml:checkout.overview_option2_part1" />
			<f:link.page pageUid="18">
				<b>
					<f:translate key="LLL:fileadmin/klassenlos.at/language/locallang.xml:checkout.overview_option2_part2" />
				</b>
			</f:link.page>
			<f:translate key="LLL:fileadmin/klassenlos.at/language/locallang.xml:checkout.overview_option2_part3" />
		</span>
	</div>
</div>