<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	
<div class="checkout_container">
	
	<f:if condition="{basketEmpty} == 1">
		<f:then>
			<h1>
				<f:translate key="LLL:fileadmin/klassenlos.at/language/locallang.xml:heading.cart" />
			</h1>
			<p>
				<f:translate key="LLL:fileadmin/klassenlos.at/language/locallang.xml:cart.empty" />.
			</p>
		</f:then>
		<f:else>
			<div class="steps ym-clearfix">
				<div class="step1 complete">
					<f:translate key="LLL:fileadmin/klassenlos.at/language/locallang.xml:checkout.heading_step1" />
				</div>
				<div class="step2 active">
					<f:translate key="LLL:fileadmin/klassenlos.at/language/locallang.xml:checkout.heading_step2" />
				</div>
				<div class="step3">
					<f:translate key="LLL:fileadmin/klassenlos.at/language/locallang.xml:checkout.heading_step3" />
				</div>
			</div>
			<f:form action="overview"  enctype="multipart/form-data"  name="newCheckout" object="{newCheckout}">
				<div class="payment_options">
					<p class="error"><f:render partial="FormErrors" /></p>
					<f:render partial="Checkout/Payment" arguments="{checkout:newCheckout,ccYearValid:ccYearValid,langId:langId}" />
					<span class="small">
						<span class="required">*</span>&nbsp;<f:translate key="LLL:fileadmin/klassenlos.at/language/locallang.xml:checkout.required" />
					</span>
				</div>
				<div class="submit">
					<f:form.submit value="{f:translate(key:'LLL:fileadmin/klassenlos.at/language/locallang.xml:checkout.payment_submit')} »" />
				</div>
			</f:form>
	
		</f:else>
	</f:if>
</div>
<div class="checkout_widget">
	<div class="guarantee ym-clearfix">
		<f:link.page pageUid="22">
			<f:image src="fileadmin/klassenlos.at/images/common/moneyguarantee_small_icon.png" alt="" />
			<p>
				<f:format.nl2br>
					<f:translate key="LLL:fileadmin/klassenlos.at/language/locallang.xml:header.icon_euro_text" />
				</f:format.nl2br>
			</p>
		</f:link.page>
	</div>
	<div class="icons">
		<f:image src="fileadmin/klassenlos.at/images/common/checkout_widget_icon.png" alt="" />
		<f:image src="fileadmin/klassenlos.at/images/common/ssl-icon-widget.png" alt="" />
	</div>
</div>
</f:section>