<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<div class="msg">Ihre Lose wurden erfolgreich in den Warenkorb gelegt.</div>
<h1>Superklasse</h1>
<h2>Steigern Sie Ihre Gewinnchance noch weiter - mit der Superklasse um nur &euro; 192,-</h2>
<p>
	Die Superklasse ist ein Zusatzspiel zur 177. Klassenlotterie. An den Ziehungen nimmt man mit den
	Klassenlosen, die auch in der 177. Klassenlotterie gespielt werden, teil. In der Superklasse genügt
	eine einmalige Zahlung von &euro; 12,- pro Zehntellos, um auch beim Zusatzspiel der Österreichischen
	Klassenlotterie dabei zu sein. Die Ziehung finden von 18.11.2013 bis 28.04.2014 statt.
</p>
<p>
	Vom 18.11.2013 bis 27.04.2014 wird täglich eine Gewinnsumme von &euro; 100.000,- ausgespielt.
	Bei der Schlussverlosung am 28.04.2014 werden außerdem nochmals 7x &euro; 100.000,- ausgespielt.
	Insgesamt ist das eine Gewinnsumme von 16,8 Millionen Euro.
</p>
<p><a href="#" class="button" id="closeYes">In dem Warenkorb</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="closeNo">Nein danke! Ohne superklasse zum Warenkorb&nbsp;&raquo;</a></p>
</f:section>